@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/buttons";
@import "theme";

$spacers: map-merge(
  (
    6: (
      $spacer * 4,
    ),
    7: (
      $spacer * 4.5,
    ),
    8: (
      $spacer * 5,
    ),
    9: (
      $spacer * 5.5,
    ),
  ),
  $spacers
);

@for $i from 1 through 20 {
  .#{aw}-#{($i * 25)} {
    width: #{($i * 25)}px !important;
  }
  .#{ah}-#{($i * 25)} {
    height: #{($i * 25)}px !important;
  }
}

@import "~bootstrap/scss/utilities";
@import "reset";

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
